@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-xl-8 h2 text-center font-monospace">
        Welcome To Product Sales
    </div>
    <div class="col-md-2">

    </div>
</div>

<div class="row mt-5">
    <div class="col-md-2">
    </div>
    <div class="col-xl-8 text-center font-monospace text-light">
        Hi! Wouldn't you like to spend pleasant shopping hours with us?
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <a href="Home/SignUp" class="btn btn-outline-info m-auto m-5">Sign Up !</a>
        <a href="Home/Login/" class="btn btn-outline-success m-auto m-5">Login !</a>
    </div>
    <div class="col-md-4">
    </div>
</div>


