
@{
    ViewData["Title"] = "UrunSat";
}

<h1>UrunSat</h1>

<form method="post">
    <div>
        <label>Ürün Id</label>
        <input type="text" name="UrunId" placeholder="Ürün Id giriniz" />
    </div>

    <div>
        <label>Ürün Adı</label>
        <input type="text" name="UrunAdi" placeholder="Ürün Adı giriniz" />
    </div>

    <div>
        <label>Ürün Fiyatı</label>
        <input type="text" name="UrunFiyati" placeholder="Ürün Fiyatı giriniz" />
    </div>

    <div>
        <input type="submit" class="btn btn-outline-dark" value="Ürün gönder" />
    </div>
</form>