
@{
    ViewData["Title"] = "UrunSatModel";
}

<h1>UrunSatModel</h1>

<form method="post">
    <div>
        <label>Ürün Id</label>
        <input type="text" name="Id" placeholder="Ürün Id giriniz" />
    </div>

    <div>
        <label>Ürün Adı</label>
        <input type="text" name="Name" placeholder="Ürün Adı giriniz" />
    </div>

    <div>
        <label>Ürün Fiyatı</label>
        <input type="text" name="Price" placeholder="Ürün Fiyatı giriniz" />
    </div>

    <div>
        <input type="submit" class="btn btn-outline-dark" value="Ürün gönder" />
    </div>
</form>