@{
    ViewData["Title"] = "Login Screen";
}

<h1>Login</h1>
<hr />
<h1 class="text-danger">@ViewBag.Mesaj</h1>
<form action="/Home/Login" method="post" class="form-control">
    <label>User Name :</label>
    <input type="text" name="UserName" class="mx-auto form-control"/> <br />
    <label>Password :</label>
    <input type="password" name="Password" class="mx-auto mt-2 form-control" /> <br />
    <input type="submit"value="Login"  class="btn btn-success"/>
    
</form>

