@model Candidate

<form class="form-group" method="post" asp-action="Apply">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group my-2">
        <label asp-for="Email">E-mail</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label asp-for="FirstName">First Name : </label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class=" form-group my-2">
        <label asp-for="Age">Age</label>
        <select asp-for="Age" class="form-control">
            @for (int i = 18; i < 24; i++)
            {
                <option value="@i">@i.ToString()</option>
            }
        </select>
    </div>

    <fieldset>
        <legend>Select one course</legend>
        <p>
            <input type="radio" id="mvc" asp-for="SelectedCourse" value="ASP.NET CORE MVC" checked/>
            <label>ASP.NET CORE MVC</label>
        </p>
        <p>
            <input type="radio" id="api" asp-for="SelectedCourse" value="ASP.NET CORE API" />
            <label>ASP.NET CORE API</label>
        </p>
        <p>
            <input type="radio" id="blazor" asp-for="SelectedCourse" value="Blazor" />
            <label>ASP.NET CORE Blazor</label>
        </p>
    </fieldset>

    <div>
        <button class="btn btn-outline-info" type="submit">Apply</button>
        <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</form>