@model Employee

<h1>Modelden Veri Alma</h1>

<hr />

<table border="1" style="border:1px solid red" cellpadding="10" cellspacing="10">
    <tr>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
    </tr>
</table>