@model List<Urun>
@{
    ViewData["Title"] = "Privacy Policy";
}
<table class="table table-hover border-1">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Ürün Fiyatı</th>
            <th scope="col">Ürün Stok Adet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UrunId.ToString()</td>
                <td>@item.UrunAdi.ToString()</td>
                <td>@item.UrunFiyat.ToString()</td>
                <td>@item.UrunStokAdet.ToString()</td>
            </tr>
            <tr>
                
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-outline-primary"> <b>+</b> Yeni Ürün Oluştur </a>
