
@{
    ViewData["Title"] = "Sign Up";
}
<style>
    body {
        background-color: darkgray;
    }

    .footer {
        background-color: snow;
    }

    .titleFont {
        font-family: cursive;
    }
</style>
<h3 class="h5 titleFont text-center mt-5">Welcome To Sign Up Page</h3>

<div class="row mt-5">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form action="/User/SignUp" method="post" class="form-group">
            <label class="fw-bolder" for="Name">Name : </label>
            <input type="text" name="Name" value="" class="form-control" />

            <label class="fw-bolder" for="Surname">Surname : </label>
            <input type="text" name="Surname" value="" class="form-control" />

            <label class="fw-bolder" for="Username">User Name : </label>
            <input type="text" name="Username" value="" class="form-control" />

            <label class="fw-bolder" for="Email">E-Mail : </label>
            <input type="email" name="Email" value="" class="form-control" />

            <label class="fw-bolder" for="Password">Password : </label>
            <input type="password" id="Pass1" name="Password" value="" class="form-control" />

            <label class="fw-bolder" for="Password2">Password Repeat : </label>
            <input type="password" id="Pass2" name="Password2" value="" class="form-control" />

            <button class="btn btn-info mt-2" type="submit" id="submitBtn">Sign Up</button>
        </form>

        <script src="/js/form-validation.js"></script>

    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-muted">
        Password Rules :
        <ul>
            <li>
                Your password must be at least 8 characters
            </li>
            <li>
                Your password must contain at least an uppercase letter.
            </li>
            <li>
                Your password must contain at least a lowercase letter.
            </li>
            <li>
                Your password must contain at least one symbol letter.
            </li>
        </ul>
    </div>
    <div class="col-md-4">
    </div>
</div>


